@import url('https://fonts.googleapis.com/css?family=Barrio|Open+Sans');

body > header > nav > ul {
    display: flex;
    list-style-type: none;
    background-color: deeppink;
    color: white;
    font-family: 'Barrio', cursive;
    font-size: 20px;
    justify-content: space-between;
    text-transform: uppercase;
    flex-wrap: wrap;
    flex-direction: row;
}
nav {
    background-color: lightcyan;
    padding: 1px;
     margin: 0 15px;
}
body > header > nav > ul > li {
   
    padding: 9px;
    text-align: center;
    border: 1px solid white;
}
#vorlage {
    background-color: black;
}
.navbar {
    flex-grow: 3;
}
/*um Menu umzustrukturieren*/
.fxo1 {order: 1;}
.fxo2 {order: 2;}
.fxo3 {order: 3;}
.fxo4 {order: 4;}
/**/
@media screen and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    body > header > nav > ul
 }
.displayflex{
    display: flex;
}
.fx-columb {
    flex-direction: column;
}



form > div {
    padding: 15px;
}
form > div > label {
    display: inline-block;
    width: 40%;
}
form > div > input {
    display: inline-block;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    border: 1px solid lightgrey;
}
form > div > input[type="submit"]{
    display: inline;
    background-color: deeppink;
    color: white;
    border: 0;
    
}