

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
 
li {
    float: left;
}
 
li a {
    display: block;
    color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
li a:hover {
    background-color: white;
}
 
li a:visited {
    color: lightgrey;
}
 
li a:focus {
    color: pink;
}
