@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans');
#navbar {
    background-color: #5559d1;
    color: white;
    height: 50px;
    font-family: 'Noto Sans', sans-serif;
    padding: 1em;
}
nav li {
    display: inline;
    list-style-type: none;
}
nav a {
    color: white;
    background-color: #5559d1;
    text-decoration: none;
}
#divvorlage {
    float: left;
    width: 25%;
}
#divbar {
    float: right;
}
ul {
    margin: 0;
}
body {
    background-image: url(http://view.stern.de/de/picture/3017385/wasser-sonnenuntergang-wolken-see-steg-ratzeburg-kalkhuette-1920.jpg);
}