.main {
    width: 75%;
    padding: 1em;
    background-color: deeppink;
    float: left;
    color: white;
   
}
.sidebar {
    width: 25%;
    padding: 1em;
    background-color: blueviolet;
    float: left;
    color: white;}


.eins { background-color: #99B1D7;
        color: #FFF; 
        width: 400px;
        display: inline;
        padding: 20px;
        }
.zwei { background-color: #456188;
        color: #FFF; 
        width: 400px;
        display: block;
        padding: 20px;
        }
#inlineblock a {
    background-color: red;
    width: 400px;
    display: block;
    color: white;
}
#inlineblock ul { margin-top: 30px; }
#inlineblock li { 
				 display: inline;
				 list-style-type: none;
				 color: white;
				 background-color: green;
				 margin-left: 0;
				 padding: 10px;
				}