.eins {
		background-color: #99B1D7;
		width: 400px;
		display: inline-block;
		padding: 20px;
		
							}
.zwei {
	    background-color: #456188;
	    width: 400px;
		display: block;
		padding: 20px;
							}
#inlineblock a { 
			background-color: red; 
			width: 400px; 
			display: block; 
			color: white;
		}
#inlineblock ul { 
				margin-top: 30px; 
	}
#inlineblock li { 
				display: inline-block;
				list-style-type: none; /* Aufzählungszeichen die verschwinden  */
				color: white;
				background-color: blue;
				margin-left: 0;
				padding: 10px;
			}
.ib {
				display: inline-block;
			}




#container {
						    background-color: white;
						    color: black;
						    width: 70%;	/* Optional-> width: 960px; */
						    border-radius: 7px;	/* Ecken abgerundet */
						    margin-top: 30px;
						    margin-right: auto; /* Abstand rechts */
						    margin-bottom: 10px;
						    margin-left: auto; /* Abstand links */
						}

						footer {
						    Innenabstand oben: 20px; /* unterhalb Rahmenlinie */
						    Rahmenlinie oben: 1px dotted #8c8c8c; /* Linie oben */
						    Aussenabstand oben: 20px; /* oberhalb Linie */
						}

						address {
						    Aussenabstand oben: 20px;
						}