/*Styleshhet */
html{
    height: 101%;
}
body {
    background: deeppink;
}
section {
    background: blueviolet !important;
}
.s1 {
    background: gold;
}
.s2 {
    background:cadetblue;
}
.s3 {
    background:forestgreen;
}

#a1 {
    background: red;
}
#f1 {
    background: blue;
}
/*Stern steht für Universal */

* {
    background: coral;
    background-image: -webkit-gradient(linear, left top, left bottom, from(blue), to(violet));
    background-image: -webkit-linear-gradient(top, blue, violet);
    background-image: -moz-linear-gradient(top, blue, violet);
    background-image: linear-gradient(to bottom, blue, violet);
    border: 1px
}

section > article > header > figure > img:not(.blue){
       background: olivedrab;
       border-radius: 20px;
       border: 5px solid black;
       max-width: 300px;
       }
section > article > header > figure:first-child{
    width: 300px !important;
}
