.main {
    width: 75%;
    padding: 1em;
    background-color: deeppink;
    float: left;
    color: white;
   
}
.sidebar {
    width: 25%;
    padding: 1em;
    background-color: blueviolet;
    float: left;
    color: white;
   

}