body {
    background-color: #8c8c8c;
    color: white;
    font-family: Roboto, Calibri, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size:1rem;
    background-image:url(images/hintergrund.jpg);
    /*background-repeat: no-repeat;*/
    transform: scale(1.25);
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: scroll;
    background-attachment: fixed;
}
section > header > p > span {
    color: #d90000;
}
p.infobox {
    color: white;
    background-color: #8c8c8c;
    border: 3px solid #ecf7dd;
    border-radius: 5px;
    text-align: center;
}
section#container {
    background-color: white;
    color: black;
    width: 70%;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #888888;
}
#header {
    background-color: white;
    color: black;
    text-align: center;
}
#logo {
    background-color: white;
    color: black;
    height: auto;
    width: 100%;
    max-width: 420px;
}
h1{
    font-size: 150%
}
h2 {
    font-size: 130%;
}
address {
						    text-align: center; /* Text zentrieren */
						    font-size: 80%; /* etwas kleiner als der Rest */
						    font-style: normal;	/* normale Schrift, nicht kursiv */
						    letter-spacing: 2px; /* Abstand zwischen den Buchstaben */
						    line-height: 1.5; /* Zeilenabstand, ohne Einheit */
                            /*font-style: italic; kursiv*/
                            /*font-weight: bold; fett*/
						}