/*Styleshhet */
html{
    height: 101%;
}



body {
    background: deeppink;
}



section {
    background: blueviolet !important;
}
.s1 {
    background: gold;
}
.s2 {
    background:cadetblue;
}
.s3 {
    background:forestgreen;
}
#a1 {
    background: red;
}
#f1 {
    background: blue;
}
