.padding {
    padding: 20px;
}
html {
    font-size: 100%
}
h1 {
    font-size: 2ren;
}
h2 {
    font-size: 1.9ren;
}
h3 {
    font-size: 1.8ren;
}
h14 {
    font-size: 1.7ren;
}
h5 {
    font-size: 1.6ren;
}
h6 {
    font-size: 1.5ren;
}
p {
    font-size: 2ren;
}
a {
    font-size: 2ren;
}
* {
    box-sizing: border-box;
}
.clearing {
    clear: both;
}
.separator {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
}
.table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}
.row {
    display: table-row;
}