.button {  width:60px; 
        text-align:center;
           font-family:System,sans-serif;
           font-size:100%;
           
           }
 
.display { width:100%;
           text-align:right;
           font-family:System,sans-serif;
           font-size:100%; 
           background-color: white;}
 
